@media only screen and (max-width: 1900px){

    :root {
        --gradient: linear-gradient(0deg, #8f6d34,#ac833e,#8f6d34,#ac833e);
        --gradientX: linear-gradient(-45deg, #ee966d, #bd934a,#9e7a3c,#bd934a,#9e7a3c,#bd934a,#9e7a3c, #bd934a,#9e7a3c,#bd934a,#9e7a3c,#bd934a,#9e7a3c, #bd934a);
        --gradienthree: linear-gradient(45deg, rgba(209, 180, 117, 0.925), rgba(209, 180, 117, 0.925),rgba(209, 180, 117, 0.925));
        --gradientfour: linear-gradient(45deg, #b68929, #b68929,#b68929);
    }
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-image: var(--gradientX);
        background-size: 350%;
        animation: bg-animation 100s infinite alternate;
    }

    @keyframes bg-animation{
        0%{
            background-position: left;
        }
        100%{
            background-position: right;
        }
    }
    @keyframes bg-animationtwo{
        0%{
            background-position: left;
        }
        100%{
            background-position: right;
        }
    }
    @keyframes bg-animationthree{
        0%{
            background-position: left;
        }
        100%{
            background-position: right;
        }
    }
    @keyframes myanimation {
        0%{background-color: yellow;}
        25%{background-color: green;}
        50%{background-color: red;}
        75%{background-color: blue;}
        100%{background-color: blueviolet;}
    }


    /* ART WORK */
    .contain{
        margin: auto;
        width: 40vh;
        height: 40vh;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        position: relative;
        place-items: center;
        box-shadow: inset 0 0 20px 3px rgb(196, 104, 17);
        animation: myanimation 15s infinite alternate;
        background: repeating-linear-gradient(45deg,rgba(255, 0, 0, 0.8),rgba(128, 0, 128, 0.8) 50px, rgba(0, 128, 0, 0.8) 60px);
    }
    .art{
        box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.753) ;
        width: 200px;
        height: 200px;
        margin-left: 10vh;
        margin-bottom: 10vh;
        border-radius: 10%;
        background-image: repeating-radial-gradient(farthest-corner at
        100px 100px, rgba(255, 140, 0, 0.6) 30%, rgba(255, 255, 0, 0.6) 60%);
    }
    .contain2{
        margin: auto;
        width: 40vh;
        height: 40vh;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        position: relative;
        place-items: center;
        box-shadow: inset 0 0 20px 3px rgb(196, 104, 17);
        animation: myanimation 15s infinite alternate;
        background: repeating-linear-gradient(45deg,rgba(21, 255, 0, 0.8), rgba(128, 77, 0, 0.8) 50px, rgba(2, 0, 128, 0.8) 60px);
    }
    .art2{
        box-shadow: -20px -20px 20px 0px rgba(0, 0, 0, 0.753) ;
        width: 200px;
        height: 200px;

        border-radius: 30%;
        background-image: repeating-radial-gradient(farthest-corner at
        100px 100px, rgba(0, 38, 255, 0.6) 30%, rgba(0, 247, 255, 0.6) 60% );
    }

    /* MID SECTION */
    .centre{
        margin: auto;
        padding: 2em;
        background: rgba(209, 180, 117, 0.925);
        max-width: 950px;
        background-size: 200%;
        box-shadow: inset 0 0 20px 3px rgb(196, 104, 17);
    }

    /* HEADER SECTION */
    .wrap{
        height: 110px;
        width: 100%;
        background: #999484;
        background-image: var(--gradient);
        background-size: 200%;
        animation: bg-animationthree 120s infinite alternate;
    }
    .mylogo{
        width: 21em;
        height: 113px;
        padding: 0px 0px;
    }
    .navbar ul{
        float: right;
        margin-right: 21rem;
        border: 5px solid rgb(109, 46, 9);
        border-radius: 3px;
        margin-top: 0vh;
        height: 12vh;
        width: 112.3vh;
    }
    .navbar ul li{
        list-style: none;
        margin: 0px 22px;
        display: inline-block;
        line-height: 105px;
    }
    .navbar ul li a{
        text-decoration: none;
        color:black;
        padding: 6px 13px;
        font-size: 2rem;
        transition: .35s;
        font-family: Arial, Helvetica, sans-serif; 
        font-weight: bolder;  

        border: 3px solid rgb(109, 46, 9);
        border-radius: 10px;
        background-image: var(--gradientfour);
        background-size: 300%;
    }
    .navbar ul li a:hover{
        background-size: 300%;
        background-position: left;
        transition: background-position 1s;
        background-position: right;
        border-radius: 10px;
        background-image: var(--gradienthree);
        border: 3px solid rgb(109, 46, 9);
    }

    /*MAIN TEXT CONTENT*/
    .titlemid{
        text-align: center;
        font-size: 30px;
    }
    .artworks{
        text-align: center;
    }
    .lowerpic{
        text-align: center;
    }
    .centre p{
        font-size: 18px;
        line-height: 19pt;
        text-align: justify;
    }
    .reference a{
        text-decoration: none;
        color:black;
        padding: 6px 13px;
        font-size: 15px;
        transition: .35s;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*BLOG SECTION*/
    .blognav ul li{
        list-style: none;
    }
    .blognav ul li a{
        text-decoration: none;
        color:black;
        padding: 2px 4px;
        font-size: 18px;
        transition: .35s;
        font-family: Arial, Helvetica, sans-serif;    
    }
    .blognav ul li a:hover{
        background: rgb(3, 192, 192);
        border-radius: 5px;
    }
    button{
        margin-left: -2px;
        background: #b68929;

        color: rgb(3, 0, 44);
        width: 140px;
        height: 40px;
        border: 2px solid rgb(109, 46, 9);
        font-size: 18px;
        border-radius: 4px;
        overflow: hidden;
    }
    button :focus{
        outline: none;
    }
    button:hover{
        background: rgba(209, 180, 117, 0.925);
        cursor: pointer;
    }
    .styleguide{
        margin: auto;
        padding: 100px;
    }
    .styleguide img{
        padding: 10px;
        width: 350px;
        height: 350px;
    }

    }


    
    @media only screen and (max-width: 1000px){
    
        :root {
            --gradient: linear-gradient(0deg, #8f6d34,#ac833e,#8f6d34,#ac833e);
            --gradientX: linear-gradient(-45deg, #ee966d, #bd934a,#9e7a3c,#bd934a,#9e7a3c,#bd934a,#9e7a3c, #bd934a,#9e7a3c,#bd934a,#9e7a3c,#bd934a,#9e7a3c, #bd934a);
            --gradienthree: linear-gradient(45deg, rgba(209, 180, 117, 0.925), rgba(209, 180, 117, 0.925),rgba(209, 180, 117, 0.925));
            --gradientfour: linear-gradient(45deg, #b68929, #b68929,#b68929);
        }
        body{
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-image: var(--gradientX);
            background-size: 350%;
            animation: bg-animation 100s infinite alternate;
        }
    
        @keyframes bg-animation{
            0%{
                background-position: left;
            }
            100%{
                background-position: right;
            }
        }
        @keyframes bg-animationtwo{
            0%{
                background-position: left;
            }
            100%{
                background-position: right;
            }
        }
        @keyframes bg-animationthree{
            0%{
                background-position: left;
            }
            100%{
                background-position: right;
            }
        }
        @keyframes myanimation {
            0%{background-color: yellow;}
            25%{background-color: green;}
            50%{background-color: red;}
            75%{background-color: blue;}
            100%{background-color: blueviolet;}
        }
    
    
        /* ART WORK */
        .contain{
            margin: auto;
            width: 40vh;
            height: 40vh;
            border-radius: 10%;
            display: flex;
            justify-content: center;
            position: relative;
            place-items: center;
            box-shadow: inset 0 0 20px 3px rgb(196, 104, 17);
            animation: myanimation 15s infinite alternate;
            background: repeating-linear-gradient(45deg,rgba(255, 0, 0, 0.8),rgba(128, 0, 128, 0.8) 50px, rgba(0, 128, 0, 0.8) 60px);
        }
        .art{
            box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.753) ;
            width: 200px;
            height: 200px;
            margin-left: 10vh;
            margin-bottom: 10vh;
            border-radius: 10%;
            background-image: repeating-radial-gradient(farthest-corner at
            100px 100px, rgba(255, 140, 0, 0.6) 30%, rgba(255, 255, 0, 0.6) 60%);
        }
        .contain2{
            margin: auto;
            width: 40vh;
            height: 40vh;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            position: relative;
            place-items: center;
            box-shadow: inset 0 0 20px 3px rgb(196, 104, 17);
            animation: myanimation 15s infinite alternate;
            background: repeating-linear-gradient(45deg,rgba(21, 255, 0, 0.8), rgba(128, 77, 0, 0.8) 50px, rgba(2, 0, 128, 0.8) 60px);
        }
        .art2{
            box-shadow: -20px -20px 20px 0px rgba(0, 0, 0, 0.753) ;
            width: 200px;
            height: 200px;
    
            border-radius: 30%;
            background-image: repeating-radial-gradient(farthest-corner at
            100px 100px, rgba(0, 38, 255, 0.6) 30%, rgba(0, 247, 255, 0.6) 60% );
        }
    
        /* MID SECTION */
        .centre{
            margin: auto;
            padding: 2em;
            background: rgba(209, 180, 117, 0.925);
            max-width: 950px;
            background-size: 200%;
            box-shadow: inset 0 0 20px 3px rgb(196, 104, 17);
        }
    
        /* HEADER SECTION */
        .wrap{
            height: 110px;
            width: 100%;
            background: #999484;
            background-image: var(--gradient);
            background-size: 200%;
            animation: bg-animationthree 120s infinite alternate;
        }
        .mylogo{
            width: 21em;
            height: 113px;
            padding: 0px 0px;
        }
        .navbar ul{
            float: right;
            margin-right: 21rem;
            border: 5px solid rgb(109, 46, 9);
            border-radius: 3px;
            margin-top: 0vh;
            height: 12vh;
            width: 112.3vh;
        }
        .navbar ul li{
            list-style: none;
            margin: 0px 22px;
            display: inline-block;
            line-height: 105px;
        }
        .navbar ul li a{
            text-decoration: none;
            color:black;
            padding: 6px 13px;
            font-size: 2rem;
            transition: .35s;
            font-family: Arial, Helvetica, sans-serif; 
            font-weight: bolder;  
    
            border: 3px solid rgb(109, 46, 9);
            border-radius: 10px;
            background-image: var(--gradientfour);
            background-size: 300%;
        }
        .navbar ul li a:hover{
            background-size: 300%;
            background-position: left;
            transition: background-position 1s;
            background-position: right;
            border-radius: 10px;
            background-image: var(--gradienthree);
            border: 3px solid rgb(109, 46, 9);
        }
    
        /*MAIN TEXT CONTENT*/
        .titlemid{
            text-align: center;
            font-size: 30px;
        }
        .artworks{
            text-align: center;
        }
        .lowerpic{
            text-align: center;
        }
        .centre p{
            font-size: 18px;
            line-height: 19pt;
            text-align: justify;
        }
        .reference a{
            text-decoration: none;
            color:black;
            padding: 6px 13px;
            font-size: 15px;
            transition: .35s;
            font-family: Arial, Helvetica, sans-serif;
        }
    
        /*BLOG SECTION*/
        .blognav ul li{
            list-style: none;
        }
        .blognav ul li a{
            text-decoration: none;
            color:black;
            padding: 2px 4px;
            font-size: 18px;
            transition: .35s;
            font-family: Arial, Helvetica, sans-serif;    
        }
        .blognav ul li a:hover{
            background: rgb(3, 192, 192);
            border-radius: 5px;
        }
        button{
            margin-left: -2px;
            background: #b68929;
    
            color: rgb(3, 0, 44);
            width: 140px;
            height: 40px;
            border: 2px solid rgb(109, 46, 9);
            font-size: 18px;
            border-radius: 4px;
            overflow: hidden;
        }
        button :focus{
            outline: none;
        }
        button:hover{
            background: rgba(209, 180, 117, 0.925);
            cursor: pointer;
        }
        .styleguide{
            margin: auto;
            padding: 100px;
        }
        .styleguide img{
            padding: 10px;
            width: 350px;
            height: 350px;
        }
    
        }
        
        
    
    @media only screen and (max-width: 800px){
    
        :root {
            --gradient: linear-gradient(0deg, #8f6d34,#ac833e,#8f6d34,#ac833e);
            --gradientX: linear-gradient(-45deg, #ee966d, #bd934a,#9e7a3c,#bd934a,#9e7a3c,#bd934a,#9e7a3c, #bd934a,#9e7a3c,#bd934a,#9e7a3c,#bd934a,#9e7a3c, #bd934a);
            --gradienthree: linear-gradient(45deg, rgba(209, 180, 117, 0.925), rgba(209, 180, 117, 0.925),rgba(209, 180, 117, 0.925));
            --gradientfour: linear-gradient(45deg, #b68929, #b68929,#b68929);
        }
        body{
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-image: var(--gradientX);
            background-size: 350%;
            animation: bg-animation 100s infinite alternate;
        }
    
        @keyframes bg-animation{
            0%{
                background-position: left;
            }
            100%{
                background-position: right;
            }
        }
        @keyframes bg-animationtwo{
            0%{
                background-position: left;
            }
            100%{
                background-position: right;
            }
        }
        @keyframes bg-animationthree{
            0%{
                background-position: left;
            }
            100%{
                background-position: right;
            }
        }
        @keyframes myanimation {
            0%{background-color: yellow;}
            25%{background-color: green;}
            50%{background-color: red;}
            75%{background-color: blue;}
            100%{background-color: blueviolet;}
        }
    
    
        /* ART WORK */
        .contain{
            margin: auto;
            width: 40vh;
            height: 40vh;
            border-radius: 10%;
            display: flex;
            justify-content: center;
            position: relative;
            place-items: center;
            box-shadow: inset 0 0 20px 3px rgb(196, 104, 17);
            animation: myanimation 15s infinite alternate;
            background: repeating-linear-gradient(45deg,rgba(255, 0, 0, 0.8),rgba(128, 0, 128, 0.8) 50px, rgba(0, 128, 0, 0.8) 60px);
        }
        .art{
            box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.753) ;
            width: 200px;
            height: 200px;
            margin-left: 10vh;
            margin-bottom: 10vh;
            border-radius: 10%;
            background-image: repeating-radial-gradient(farthest-corner at
            100px 100px, rgba(255, 140, 0, 0.6) 30%, rgba(255, 255, 0, 0.6) 60%);
        }
        .contain2{
            margin: auto;
            width: 40vh;
            height: 40vh;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            position: relative;
            place-items: center;
            box-shadow: inset 0 0 20px 3px rgb(196, 104, 17);
            animation: myanimation 15s infinite alternate;
            background: repeating-linear-gradient(45deg,rgba(21, 255, 0, 0.8), rgba(128, 77, 0, 0.8) 50px, rgba(2, 0, 128, 0.8) 60px);
        }
        .art2{
            box-shadow: -20px -20px 20px 0px rgba(0, 0, 0, 0.753) ;
            width: 200px;
            height: 200px;
    
            border-radius: 30%;
            background-image: repeating-radial-gradient(farthest-corner at
            100px 100px, rgba(0, 38, 255, 0.6) 30%, rgba(0, 247, 255, 0.6) 60% );
        }
    
        /* MID SECTION */
        .centre{
            margin: auto;
            padding: 2em;
            background: rgba(209, 180, 117, 0.925);
            max-width: 950px;
            background-size: 200%;
            box-shadow: inset 0 0 20px 3px rgb(196, 104, 17);
        }
    
        /* HEADER SECTION */
        .wrap{
            height: 110px;
            width: 100%;
            background: #999484;
            background-image: var(--gradient);
            background-size: 200%;
            animation: bg-animationthree 120s infinite alternate;
        }
        .mylogo{
            width: 21em;
            height: 113px;
            padding: 0px 0px;
        }
        .navbar ul{
            float: right;
            margin-right: 21rem;
            border: 5px solid rgb(109, 46, 9);
            border-radius: 3px;
            margin-top: 0vh;
            height: 12vh;
            width: 112.3vh;
        }
        .navbar ul li{
            list-style: none;
            margin: 0px 22px;
            display: inline-block;
            line-height: 105px;
        }
        .navbar ul li a{
            text-decoration: none;
            color:black;
            padding: 6px 13px;
            font-size: 2rem;
            transition: .35s;
            font-family: Arial, Helvetica, sans-serif; 
            font-weight: bolder;  
    
            border: 3px solid rgb(109, 46, 9);
            border-radius: 10px;
            background-image: var(--gradientfour);
            background-size: 300%;
        }
        .navbar ul li a:hover{
            background-size: 300%;
            background-position: left;
            transition: background-position 1s;
            background-position: right;
            border-radius: 10px;
            background-image: var(--gradienthree);
            border: 3px solid rgb(109, 46, 9);
        }
    
        /*MAIN TEXT CONTENT*/
        .titlemid{
            text-align: center;
            font-size: 30px;
        }
        .artworks{
            text-align: center;
        }
        .lowerpic{
            text-align: center;
        }
        .centre p{
            font-size: 18px;
            line-height: 19pt;
            text-align: justify;
        }
        .reference a{
            text-decoration: none;
            color:black;
            padding: 6px 13px;
            font-size: 15px;
            transition: .35s;
            font-family: Arial, Helvetica, sans-serif;
        }
    
        /*BLOG SECTION*/
        .blognav ul li{
            list-style: none;
        }
        .blognav ul li a{
            text-decoration: none;
            color:black;
            padding: 2px 4px;
            font-size: 18px;
            transition: .35s;
            font-family: Arial, Helvetica, sans-serif;    
        }
        .blognav ul li a:hover{
            background: rgb(3, 192, 192);
            border-radius: 5px;
        }
        button{
            margin-left: -2px;
            background: #b68929;
    
            color: rgb(3, 0, 44);
            width: 140px;
            height: 40px;
            border: 2px solid rgb(109, 46, 9);
            font-size: 18px;
            border-radius: 4px;
            overflow: hidden;
        }
        button :focus{
            outline: none;
        }
        button:hover{
            background: rgba(209, 180, 117, 0.925);
            cursor: pointer;
        }
        .styleguide{
            margin: auto;
            padding: 100px;
        }
        .styleguide img{
            padding: 10px;
            width: 350px;
            height: 350px;
        }
    
        }
        
    
        